DEBUG=False
HOST=http://127.0.0.1:8000     
SERVER=.appseed.us             
ALLOWED_HOSTS="127.0.0.1"
# DB_NAME=ekinerja             
# DB_HOST=localhost            
# DB_PORT=5432                 
# DB_USERNAME=postgres         
# DB_PASSWORD=123456           
# SECRET_KEY=Dimas$12dinas*?1  
  
BROKER_USERNAME='dimas'        
BROKER_PASSWORD='123456'       
BROKER_HOST='127.0.0.1:5672'   
BROKER_VHOST='ekinerja'        
  
DB_NAME=ekinerja               
DB_HOST=ls-9ec79e7c138f56a8dcdb588b3aa56643225712c8.cvhb3c400rbv.ap-southeast-1.rds.amazonaws.com
DB_PORT=5432
DB_USERNAME=dbmasteruser       
DB_PASSWORD=dimasindras1  